<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>application Information</h1>
      <%JSON.stringify(application)%>
    <h2> Name: <%=application.position%></h2>
    <h2> Date: <%application.date%></h2>
    <div class="image">
      <img class="imgs" src="<%=application.companyImage%>"></img>
    </div>
    <br/>
    <p>Status: <%=application.status%></p><br/>
    <a target="_blank" href="<%=application.applicationLink%>">
      <%=application.position %>
    </a>

    <nav>
      <a class="return" href="/portfolio/applications">Back to my applications</a><br/>
      <a class="editbutton" href="/portfolio/applications/<%=application.id%>/edit"> <button class="editanddelete">Edit</button></a>
      <form action="/portfolio/applications/<%=application.id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE"/>
    </nav>

  </body>
</html>
