<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

<%- include ('../partials/fonts.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/welcome.ejs') %>
    </nav>
    <h1 class="projTitle">My Projects</h1>
    <div class="text">
    <%JSON.stringify(currentUser.projects)%>
      <br/>
        <% for(let i=0; i< currentUser.projects.length; i++){ %>
          <a class="cardLink" href="/portfolio/<%=currentUser.projects[i]._id%>">
            <div class="card">
              <img class="images" src="<%=currentUser.projects[i].previewImage%>"></img><br/>
              <div class="name">
              <h3 class="nameTitle">
                <%=currentUser.projects[i].projectName %>
              </h3>
              </div>
            </div>
            </a>
            <br/>
        <%  } %>
    </div>
    <br />
    <nav class="lowNav">
      <a class="new" href="/portfolio/new">Create a new project</a>
      <a href="/portfolio/applications">View my applications</a>
  </body>
  <style>
    .text{
      margin-left: 1vh;
      margin-right: 1vh
    }
  </style>
</html>
