<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Project Information</h1>
      <%JSON.stringify(project)%>
    <h2> Name: <%=project.projectName%></h2>
    <h2> Image: <%project.previewImage%></h2>
    <div class="image">
      <img class="imgs" src="<%=project.previewImage%>"></img>
    </div>
    <br/>
    <p>Description: <%=project.description%></p><br/>

    <nav>
      <a class="return" href="/portfolio">Back to my portfolio</a><br/>

      <a class="editbutton" href="/portfolio/<%=project.id%>/edit"> <button class="editanddelete">Edit</button></a>

        <form action="/portfolio/<%=project.id%>?_method=DELETE" method="POST">
          <input type="submit" value="DELETE"/>
        </form>
    </nav>

  </body>
</html>
